/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 1, ../sass/modules/_global-styles.scss */
* {
  outline: none;
}

/* line 7, ../sass/modules/_global-styles.scss */
html {
  height: 100%;
}

/* line 11, ../sass/modules/_global-styles.scss */
body {
  font-family: "Source Code Pro";
  font-weight: 400;
  color: #000;
  margin: 0;
  line-height: 1.5em;
}

/* line 19, ../sass/modules/_global-styles.scss */
.top-shelf {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

/* line 25, ../sass/modules/_global-styles.scss */
.mission {
  display: table;
  width: 200%;
  margin-top: 15%;
}
/* line 30, ../sass/modules/_global-styles.scss */
.mission a {
  margin: 0;
}
/* line 33, ../sass/modules/_global-styles.scss */
.mission img {
  max-width: 600px;
  height: 197px;
  display: inline-table;
  margin: 0;
  float: left;
}

/* line 42, ../sass/modules/_global-styles.scss */
.container {
  position: absolute;
  width: 100%;
  heigh: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
}
/* line 52, ../sass/modules/_global-styles.scss */
.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}

/* line 66, ../sass/modules/_global-styles.scss */
.button_container {
  position: fixed;
  top: 7%;
  left: 8%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
/* line 77, ../sass/modules/_global-styles.scss */
.button_container:hover {
  opacity: .7;
}
/* line 82, ../sass/modules/_global-styles.scss */
.button_container.active .top {
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: #FFF;
}
/* line 86, ../sass/modules/_global-styles.scss */
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
/* line 91, ../sass/modules/_global-styles.scss */
.button_container.active .bottom {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: #FFF;
}
/* line 97, ../sass/modules/_global-styles.scss */
.button_container span {
  background: white;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
/* line 108, ../sass/modules/_global-styles.scss */
.button_container span:nth-of-type(2) {
  top: 10px;
}
/* line 112, ../sass/modules/_global-styles.scss */
.button_container span:nth-of-type(3) {
  top: 20px;
}

/* line 118, ../sass/modules/_global-styles.scss */
.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 10;
}
/* line 131, ../sass/modules/_global-styles.scss */
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
/* line 136, ../sass/modules/_global-styles.scss */
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
/* line 140, ../sass/modules/_global-styles.scss */
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
/* line 143, ../sass/modules/_global-styles.scss */
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
/* line 146, ../sass/modules/_global-styles.scss */
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
/* line 151, ../sass/modules/_global-styles.scss */
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
/* line 158, ../sass/modules/_global-styles.scss */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
/* line 166, ../sass/modules/_global-styles.scss */
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
/* line 174, ../sass/modules/_global-styles.scss */
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
}
/* line 180, ../sass/modules/_global-styles.scss */
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@media screen and (max-width: 850px) {
  /* line 209, ../sass/modules/_global-styles.scss */
  .mission {
    width: 220%;
  }
  /* line 212, ../sass/modules/_global-styles.scss */
  .mission img {
    height: 147px;
  }

  /* line 217, ../sass/modules/_global-styles.scss */
  p {
    font-size: 1em;
  }
}
@media screen and (max-width: 700px) {
  /* line 225, ../sass/modules/_global-styles.scss */
  .mission {
    max-width: 30.875em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 0 1.55555em;
    overflow: hidden;
  }
  /* line 235, ../sass/modules/_global-styles.scss */
  .mission img {
    height: auto;
    max-width: 100%;
  }
}
/* line 2, ../sass/modules/_header.scss */
header {
  width: 100%;
  max-width: 100%;
  margin: 2em 0;
  overflow: hidden;
  top: 0;
  z-index: 10;
  padding: 0;
  position: fixed;
}
/* line 12, ../sass/modules/_header.scss */
header h1 {
  color: white;
  font-size: .98em;
  letter-spacing: 8px;
  text-transform: uppercase;
}
/* line 20, ../sass/modules/_header.scss */
header p {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  font-size: 1em;
  line-height: 1.8em;
}
/* line 87, ../sass/neat/grid/_span-columns.scss */
header p:last-child {
  margin-right: 0;
}

/* line 28, ../sass/modules/_header.scss */
h1.about {
  font-size: 2.6em;
  line-height: 1.7em;
  font-weight: 300;
  padding: 2em 0 1em;
}

/* line 36, ../sass/modules/_header.scss */
ul.menu {
  margin: 0 auto 2em auto;
  height: 100%;
  overflow: hidden;
  text-align: left;
  max-width: 100%;
}
/* line 42, ../sass/modules/_header.scss */
ul.menu li {
  display: inline-block;
  margin: 15px 4em 0 0;
  font-size: 1.1em;
}

/* line 52, ../sass/modules/_header.scss */
.logo {
  float: right;
  display: block;
  margin: 3px 0;
  display: block;
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  /* line 71, ../sass/modules/_header.scss */
  header h1 {
    font-size: 1.167em;
  }

  /* line 78, ../sass/modules/_header.scss */
  h1.home {
    font-size: 1.4em;
    text-align: center;
  }

  /* line 83, ../sass/modules/_header.scss */
  h1.about {
    font-size: 1.4em;
    text-align: center;
  }

  /* line 88, ../sass/modules/_header.scss */
  .logo {
    float: none;
    text-align: center;
    max-width: 100%;
    margin: 1em 0;
    font-size: 1.3em;
  }

  /* line 96, ../sass/modules/_header.scss */
  ul.menu {
    margin: 1em 0;
    text-align: center;
  }
  /* line 99, ../sass/modules/_header.scss */
  ul.menu li {
    margin: 0 1em;
  }

  /* line 104, ../sass/modules/_header.scss */
  ul {
    max-width: 16.875rem;
  }
  /* line 107, ../sass/modules/_header.scss */
  ul li {
    margin: 0 1em;
  }
}
/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
/* line 19, ../sass/modules/_footer.scss */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}

/* line 23, ../sass/modules/_footer.scss */
#swipebox-overlay img {
  border: none !important;
}

/* line 27, ../sass/modules/_footer.scss */
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  user-select: none;
}

/* line 38, ../sass/modules/_footer.scss */
#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 44, ../sass/modules/_footer.scss */
#swipebox-slider {
  transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer;
}
/* line 55, ../sass/modules/_footer.scss */
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
/* line 62, ../sass/modules/_footer.scss */
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
/* line 70, ../sass/modules/_footer.scss */
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
/* line 83, ../sass/modules/_footer.scss */
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
}
/* line 90, ../sass/modules/_footer.scss */
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
/* line 96, ../sass/modules/_footer.scss */
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 108, ../sass/modules/_footer.scss */
#swipebox-bottom-bar,
#swipebox-top-bar {
  transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

/* line 118, ../sass/modules/_footer.scss */
#swipebox-bottom-bar {
  bottom: -50px;
}
/* line 121, ../sass/modules/_footer.scss */
#swipebox-bottom-bar.visible-bars {
  transform: translate3d(0, -50px, 0);
}

/* line 126, ../sass/modules/_footer.scss */
#swipebox-top-bar {
  top: -50px;
}
/* line 129, ../sass/modules/_footer.scss */
#swipebox-top-bar.visible-bars {
  transform: translate3d(0, 50px, 0);
}

/* line 134, ../sass/modules/_footer.scss */
#swipebox-title {
  display: block;
  width: 100%;
  text-align: center;
}

/* line 140, ../sass/modules/_footer.scss */
#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(http://wavefrontbiometric.com.s3-website-us-west-1.amazonaws.com/css/swipebox-img/icons.svg);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
}

/* line 154, ../sass/modules/_footer.scss */
#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

/* line 161, ../sass/modules/_footer.scss */
#swipebox-prev {
  background-position: -32px 13px;
  float: left;
  position: absolute;
  z-index: 9999;
  top: 40%;
}

/* line 169, ../sass/modules/_footer.scss */
#swipebox-next {
  background-position: -78px 13px;
  float: right;
  position: absolute;
  z-index: 9999;
  top: 40%;
  right: 0;
}

/* line 178, ../sass/modules/_footer.scss */
#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px;
}

/* line 186, ../sass/modules/_footer.scss */
.swipebox-no-close-button #swipebox-close {
  display: none;
}

/* line 192, ../sass/modules/_footer.scss */
#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3;
}

/* line 198, ../sass/modules/_footer.scss */
.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  animation: rightSpring 0.3s;
}
/* line 202, ../sass/modules/_footer.scss */
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  animation: leftSpring 0.3s;
}

/* line 209, ../sass/modules/_footer.scss */
.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  backface-visibility: hidden;
  transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0;
}
/* line 222, ../sass/modules/_footer.scss */
.swipebox-touch #swipebox-container:before {
  left: 0;
  box-shadow: inset 10px 0px 10px -8px #656565;
}
/* line 227, ../sass/modules/_footer.scss */
.swipebox-touch #swipebox-container:after {
  right: 0;
  box-shadow: inset -10px 0px 10px -8px #656565;
}
/* line 234, ../sass/modules/_footer.scss */
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1;
}
/* line 241, ../sass/modules/_footer.scss */
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1;
}

@keyframes rightSpring {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftSpring {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@media screen and (min-width: 800px) {
  /* line 277, ../sass/modules/_footer.scss */
  #swipebox-close {
    right: 10px;
  }

  /* line 281, ../sass/modules/_footer.scss */
  #swipebox-arrows {
    width: 92%;
    max-width: 800px;
  }
}
/* Skin
--------------------------*/
/* line 289, ../sass/modules/_footer.scss */
#swipebox-overlay {
  background: #0d0d0d;
}

/* line 293, ../sass/modules/_footer.scss */
#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: 1px 1px 1px black;
  background: #000;
  opacity: 0.95;
}

/* line 305, ../sass/modules/_footer.scss */
#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 44, ../sass/base.scss */
body {
  background-color: black;
  color: white;
}

/* line 48, ../sass/base.scss */
.container {
  max-width: 64.875em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  height: 100%;
  position: relative;
  padding: 0 3.55555em;
  overflow: hidden;
}

/* line 59, ../sass/base.scss */
h2 {
  font-size: 2.5em;
  margin: 2em 0;
}

/* line 64, ../sass/base.scss */
h2.page-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 1.4em 0 0em;
  text-align: center;
  line-height: 2.5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 75, ../sass/base.scss */
h3 {
  font-size: 1.325em;
  margin: 2em 0;
}

/* line 80, ../sass/base.scss */
h4 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 1em 0;
}
/* line 85, ../sass/base.scss */
h4 a {
  color: #2EBDB2;
}

/* line 90, ../sass/base.scss */
.info {
  border-top: 3px solid rgba(0, 0, 0, 0.09);
  padding-top: 2em;
  float: left;
  font-size: .88em;
}

/* line 98, ../sass/base.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 103, ../sass/base.scss */
.updates {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid rgba(0, 0, 0, 0.09);
}
/* line 9, ../sass/bourbon/addons/_clearfix.scss */
.updates::after {
  clear: both;
  content: "";
  display: table;
}

/* line 108, ../sass/base.scss */
.col-1 {
  margin: 0 0 3em 0;
}
/* line 111, ../sass/base.scss */
.col-1 a {
  border-bottom: solid 4px #2EBDB2;
}

/* line 118, ../sass/base.scss */
.blog {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, ../sass/bourbon/addons/_clearfix.scss */
.blog::after {
  clear: both;
  content: "";
  display: table;
}
/* line 121, ../sass/base.scss */
.blog article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
/* line 87, ../sass/neat/grid/_span-columns.scss */
.blog article:last-child {
  margin-right: 0;
}
/* line 124, ../sass/base.scss */
.blog h1 {
  padding: 0;
}

/* line 129, ../sass/base.scss */
.article-post {
  margin: 0;
}
/* line 131, ../sass/base.scss */
.article-post p {
  margin: 0 0 1em 0;
  display: block;
}
/* line 136, ../sass/base.scss */
.article-post h2 {
  font-size: 1.5em;
  margin: 1em 0 0em;
  line-height: 1.5em;
}
/* line 143, ../sass/base.scss */
.article-post p {
  margin: 0 0 1em 0;
}
/* line 146, ../sass/base.scss */
.article-post ul {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, ../sass/bourbon/addons/_clearfix.scss */
.article-post ul::after {
  clear: both;
  content: "";
  display: table;
}
/* line 149, ../sass/base.scss */
.article-post ul li {
  margin: 0;
}

/* line 156, ../sass/base.scss */
.post {
  margin: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.09);
}
/* line 159, ../sass/base.scss */
.post p {
  margin: 0 0 1em 0;
  display: block;
}
/* line 164, ../sass/base.scss */
.post h2 {
  font-size: 1.5em;
  margin: 1em 0 0em;
  line-height: 1.5em;
}
/* line 171, ../sass/base.scss */
.post p {
  margin: 0 0 1em 0;
}
/* line 174, ../sass/base.scss */
.post ul {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, ../sass/bourbon/addons/_clearfix.scss */
.post ul::after {
  clear: both;
  content: "";
  display: table;
}
/* line 177, ../sass/base.scss */
.post ul li {
  margin: 0;
}

/* line 185, ../sass/base.scss */
h2.article-title {
  font-size: 2.5em;
  font-weight: 300;
  margin: 1.7em 0 0em;
  line-height: 1.5em;
}

/* line 193, ../sass/base.scss */
p {
  line-height: 2.2em;
  margin: 1em 0;
  font-weight: 300;
  padding: 3em;
  width: 59em;
}

/* line 201, ../sass/base.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* line 206, ../sass/base.scss */
figure img {
  max-width: 100%;
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari and Chrome */
  -o-animation: fadein 1s;
  /* Opera */
}

/* line 213, ../sass/base.scss */
a:hover {
  color: #ccc;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

/* line 223, ../sass/base.scss */
.index-nav {
  margin: 0 auto 1em auto;
  max-width: 100%;
}
/* line 227, ../sass/base.scss */
.index-nav li.next {
  margin: 0.5em auto;
  text-align: right;
  top: 40%;
  line-height: 2em;
  padding: 1em 0 0;
}
/* line 236, ../sass/base.scss */
.index-nav li.previous {
  margin: 0.5em auto;
  text-align: left;
  top: 40%;
  line-height: 2em;
  padding: 1em 0 0;
}

@media screen and (max-width: 700px) {
  /* line 253, ../sass/base.scss */
  .container {
    padding: 0 1.55555em;
  }

  /* line 259, ../sass/base.scss */
  h2.article-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  /* line 266, ../sass/base.scss */
  li.next {
    float: none;
  }
}
